
    <button mat-icon-button class="close-button" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="warn">X</mat-icon>
    </button>
  

<div class="container" style="text-align: center;" >
    <span style="font-weight: bold; font-family: 'Courier New', Courier, monospace;" class="h1">{{title}}</span>
    
</div>

<form [formGroup]="myGroup" class="normal-form" (ngSubmit)="enviarPost()">
<mat-grid-list cols="1" rowHeight="250px" >
    <mat-grid-tile>
        <div class="controles-container">
            <input type="hidden" formControlName="id"> 
            <mat-form-field appearance="fill" >
                <mat-label  >Nombre</mat-label>
                <input [(ngModel)]="usuario.nombre " matInput name="nombre" formControlName="nombre">
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label  >Telefono</mat-label>
                <span matPrefix>+503 &nbsp;</span>
                <input [(ngModel)]="usuario.telefono"   name="telefono" formControlName="telefono" type="tel" matInput placeholder="5555-1234">

                
              </mat-form-field>
              
              <mat-form-field appearance="fill">

                <mat-label   >Rol</mat-label>
                <mat-select [(ngModel)]="usuario.rol "  name="rol" formControlName="rol">
                  <mat-option *ngFor="let rol of roles; let i=index" [value]="i+1">{{rol}}</mat-option>
                  

                </mat-select>
              </mat-form-field>
        </div>
        <div>
              <mat-form-field appearance="fill">

                <mat-label  >Apellido</mat-label>
                <input [(ngModel)]="usuario.apellido"  name="apellido"  formControlName="apellido" matInput>
              </mat-form-field>

               <mat-form-field appearance="fill">
                <mat-label >Enter your email</mat-label>
                <input  [(ngModel)]="usuario.email"  name="email" formControlName="email" matInput placeholder="pat@example.com" [formControl]="email" required>

                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>

                <input  [(ngModel)]="usuario.password"  name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">

                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>   
        </div>
        
</mat-grid-tile>

</mat-grid-list>
<div>
    <mat-dialog-actions align="center">

      <button type="submit" class="btn btn-dark btn-lg">Agregar</button>

  </mat-dialog-actions>
</div>
</form>
