.contenido {
  width: 550px;
}

.mat-form-field {
  width: 90%;
}

.close-button {
  float: right;
  top: -20px;
  right: -5px;
}

.close-icon {
  transition: 0.3s ease-in-out;
  color: #4f2f5c;
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

.mat-raised-button{
  color: white;
  background: #4f2f5c;
}