:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  color: #e4dfe7;
  font-size: 0.8rem;
  height: 44px;
  margin-bottom: 4px;

  &:hover {
    color: #4f2f5c;
  }

  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;

      &:hover {
        background: #be89bc !important;
      }
    }
  }
}

.list-item-active {
  color: #f2f5f7 !important;

  ::ng-deep {
    .mat-list-item-content {
      background: #4f3e5a !important;

      &:hover {
        background: #be89bc !important;
      }
    }
  }
}

.mat-subheader {
  color: white;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.mat-nav-list {
  width: 25vh;
}
