<mat-nav-list>
    <div class="logo py-4">
      <!-- <img src="./assets/LogoL.png" alt="Company Logo" /> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">OPCIONES</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/home/usuario']">
      <mat-icon>person_pin</mat-icon> Usuarios
    </a>
    <a mat-list-item routerLinkActive="list-item-active"[routerLink]="['/home/comercio']">
      <mat-icon>my_location</mat-icon> Comercios
    </a>

  </mat-nav-list>
