<!-- <div class="container">
  <div class="row">
      <div class="col-12">
          <h3>Hola mundo MapBox</h3>
          <div id="contenedormapa">
          </div>
      </div>
  </div>
</div> -->


<div class="content">
    <div class='sidebar'>
        <div class='heading'>
            <h1>Localizaciones</h1>
        </div>
        <h1>Listado de comercios</h1>
     
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <mat-selection-list #comercio [multiple]="false">
          <mat-list-option *ngFor="let comercio of comercios">
            {{ comercio }}
          </mat-list-option>
        </mat-selection-list>

        <p>
          Option selected: {{comercio.selectedOptions.selected[0]?.value}}
        </p>

    </div>
    <div id="map" class="map"></div>

</div>
