
span{
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 5%;

}
.h1{
  font-size: 32px;
}

.mat-raised-button{
  background-color: black;
  color: white;
  display: inline-block;
  justify-content: flex-start;
  
  
}

.mat-form-field {
  margin:1rem auto;
  margin-left: 15%;
  width: 20%;
  
}



.example-container {
  height: 400px;
  overflow: auto;
 
 
}

table {
width: 95%;


}

th{
  width: 10%;
}

.pointer{
  cursor: pointer;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: space-between;

}
