  <div class="m-2">
    <button mat-raised-button class="mat-raised-button" (click)=" openDialog()">
      <mat-icon>add</mat-icon>
      Agregar
    </button>
    <mat-form-field>
      <mat-label><mat-icon class="close-icon">supervised_user_circle</mat-icon>  Buscar...</mat-label>
      <input matInput (keydown)="filterData($event)" #input autocomplete="off">
    </mat-form-field>
  </div>
  <div fxLayoutAlign="center">
    <table mat-table matSort matSortStart="desc" [dataSource]="listado" *ngIf="listado.length > 0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}}</td>
      </ng-container>
      <ng-container [matColumnDef]="column" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let usuario"> {{column==="rol"? obtenerRol(usuario[column]): usuario[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let usuario" fxLayoutAlign="start">
          <button mat-icon-button class="pointer" style="color: #4f2f5c" matTooltip="Editar usuario">
            <mat-icon (click)="openDialog(usuario)">edit</mat-icon>
          </button>
          <button mat-icon-button *ngIf="usuario.rol!==1" (click)="eliminarUsuario(usuario._id)" class="pointer"
            style="color: #e15639" matTooltip="Eliminar Usuario">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h5 style="text-align: center; margin-top: 10px;" *ngIf="listado.length == 0">No hay datos para mostrar</h5>
  </div>
