#puntos {
  float: right;
}
.button {
  float: right;
}

#container {
  float: left;
}

.info {
  text-align: left;
}

.btn{
  display: inline;
  border-radius: 40%;
  width: 8%;
  height: 40%;

}
.btn:hover {
  // background-color: gray;
  color: blue;
}

.mat-nav-list {
  
}
