body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.success-snackbar {
  background: rgb(22, 83, 10);
  color: rgb(255, 255, 255)
}

.error-snackbar {
  background: rgb(199, 30, 15);
  color: rgb(255, 255, 255)
}

.mat-simple-snackbar-action {
  color: rgb(227, 238, 14)
}
