

<div class="container m-3" fxLayout>
  <div id="listado">
    <mat-accordion>
      <mat-expansion-panel class="mb-2" *ngFor="let comercio of listado"  >
        <mat-expansion-panel-header  style="background-color:#D6DBDF;">
          <mat-panel-title>
            <ngx-avatar class="" size="40" [src]="comercio.logo" fxLayoutAlign="flex-start" > </ngx-avatar>
            {{ comercio.nombre }}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            {{ comercio.categoria }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Propietario: {{comercio.propietario}} </mat-list-item>
          <mat-list-item> Teléfono: {{comercio.telefono}} </mat-list-item>
          <mat-list-item *ngIf="comercio.redes_sociales"> Red social: <a href=""> {{ comercio.redes_sociales }}</a> </mat-list-item>
          <mat-list-item> Descripción: {{comercio.descripcion}} </mat-list-item>
        </mat-list>
        <div fxLayoutAlign="flex-end">
          <button (click)="openBottomSheet()" mat-icon-button aria-label="Comentarios" matTooltip="Comentarios">
            <mat-icon>question_answer</mat-icon>
          </button>
          <button (click)="seleccionarComercio(comercio)" mat-icon-button aria-label="Mapa" matTooltip="Ver en mapa">
            <mat-icon>room</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div id="map"></div>
</div>


