

// .sidebar {
//   position: absolute;
//   width: 33.3333%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   border-right: 1px solid rgba(0, 0, 0, 0.25);
// }

// h1 {
//   font-size: 200%;
//   margin: 0;
//   font-weight: 400;
//   line-height: 10%;
//   padding: 5% 5%;
// }

// a {
//   color: #404040;
//   text-decoration: none;
// }

// a:hover {
//   color: #101010;
// }

// .heading {
//   background: #fff;
//   border-bottom: 1px solid #eee;
//   min-height: 60px;
//   line-height: 60px;
//   padding: 0 10px;
//   background-color: #00853e;
//   color: #fff;
//   text-align: center;
// }

// .listings {
//   height: 100%;
//   overflow: auto;
//   padding-bottom: 60px;
// }

// .listings .item {
//   display: block;
//   border-bottom: 1px solid #eee;
//   padding: 10px;
//   text-decoration: none;
// }

// .listings .item:last-child {
//   border-bottom: none;
// }
// .listings .item .title {
//   display: block;
//   color: #00853e;
//   font-weight: 700;
// }

// .listings .item .title small {
//   font-weight: 400;
// }
// .listings .item.active .title,
// .listings .item .title:hover {
//   color: #8cc63f;
// }
// .listings .item.active {
//   background-color: #f8f8f8;
// }
// ::-webkit-scrollbar {
//   width: 3px;
//   height: 3px;
//   border-left: 0;
//   background: rgba(0, 0, 0, 0.1);
// }
// ::-webkit-scrollbar-track {
//   background: none;
// }
// ::-webkit-scrollbar-thumb {
//   background: #00853e;
//   border-radius: 0;
// }

// // material =====================================================================
// /* para scroll */
// .example-viewport {
//   height: 90%;
//   width: 100%;
//   //border: 1px solid black;

// }

// .example-dt {
//   height: 50px;
//   font-weight: normal;
// }

// .example-dd {
//   height: 30px;
// }

// .mat-list-item {
//   font-size:x-small;
//   padding: 0%;
// }

// .mat-panel-title {
//   font-weight: bolder;
// }

// .mat-nav-list a:hover {
//   color:brown;

// }

#map {
  width: 100%;
  height: 100%;
}

div {
  height: 100%;
}

#listado {
  margin-right: 2%;
  margin-left: 0;
}

.container {
  height: 92vh;
  width: 153vh;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
