<div class="m-3" fxLayout="column">
  <div>
    <button mat-raised-button color="primary" (click)=" agregarUsuario()">
      <mat-icon>add</mat-icon>
      Agregar
    </button>
    <mat-form-field style="margin-left: 20px;" appearance="legacy">
      <mat-label>Nombre del comercio</mat-label>
      <input (keyup)="search($event)" matInput placeholder="Nombre del comercio" />
    </mat-form-field>
  </div>
  <div id="datos" fxLayout="row">
    <div id="listado">
      <mat-accordion>
        <mat-expansion-panel class="mb-2" *ngFor="let comercio of listado">
          <mat-expansion-panel-header style="background-color: #d6dbdf">
            <mat-panel-title>
              <ngx-avatar size="40" [src]="comercio.logo" fxLayoutAlign="flex-start">
              </ngx-avatar>
              <div style="margin-left: 12px;">
                <strong>{{ comercio.nombre }}</strong>

              </div>
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="flex-end">
              {{ comercio.categoria }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              Propietario: {{ comercio.propietario }}
            </mat-list-item>
            <mat-list-item> Teléfono: {{ comercio.telefono }} </mat-list-item>
            <mat-list-item *ngIf="comercio.redes_sociales">
              Red social: <a href=""> {{ comercio.redes_sociales }}</a>
            </mat-list-item>
            <mat-list-item>
              Descripción: {{ comercio.descripcion }}
            </mat-list-item>
          </mat-list>

          <div>
            <button (click)="eliminar(comercio._id)" mat-icon-button aria-label="Eliminar" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
            <button [routerLink]="['/comercio/editar', comercio._id]" mat-icon-button aria-label="Editar"
              matTooltip="Editar">
              <mat-icon>note_add</mat-icon>
            </button>

            <button (click)="openBottomSheet()" mat-icon-button aria-label="Comentarios" matTooltip="Comentarios">
              <mat-icon>question_answer</mat-icon>
            </button>
            <button (click)="seleccionarComercio(comercio)" mat-icon-button aria-label="Mapa" matTooltip="Ver en mapa">
              <mat-icon>room</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div id="mapa"></div>
  </div>
</div>
